<ion-header>

	<ion-toolbar>

		<ion-title
				[id] = "'SYMPTOM_CHECKS.EDIT.HEADER_EDIT' | toID:'rcc-e2e'"
		>
				{{ ( heading || 'SYMPTOM_CHECKS.EDIT.HEADER_EDIT' ) | translate }}
		</ion-title>

		<ion-buttons slot="secondary">

			<ion-button
				color	= "light"
				fill	= "solid"
				(click) = "cancel()"
				id		= "rcc-e2e-symptom-check-edit-cancel"
			>
				{{cancelLabel | translate }}
			</ion-button>

		</ion-buttons>

		<ion-buttons slot="primary">

			<ion-button
				color	= "primary"
				fill	= "solid"
				(click) = "apply()"
				id		= "rcc-e2e-symptom-check-edit-apply"
			>
				{{applyLabel | translate }}
			</ion-button>

		</ion-buttons>

	</ion-toolbar>

</ion-header>






<ion-content [fullscreen] = "true">

	<ion-list>

		<ion-item *ngIf = "editLabel">

			<ion-label
				position	= "stacked"
				[class]		= "'SYMPTOM_CHECKS.EDIT.LABEL' | toID:'rcc-e2e'"
				id			= "rcc-e2e-symptom-checks-edit-label"
			>
				{{'SYMPTOM_CHECKS.EDIT.LABEL' | translate}}
			</ion-label>

			<ion-input [formControl] = "labelControl"></ion-input>

		</ion-item>




		<ion-item
			[button] 	= "true"
			(click)		= "editDefaultSchedule()"
		>

			<ion-label>
				<h3 [id]	= "'SYMPTOM_CHECKS.EDIT.DEFAULT_SCHEDULE-h3' | toID:'rcc-e2e'">
					{{'SYMPTOM_CHECKS.EDIT.DEFAULT_SCHEDULE' |translate}}
				</h3>
				<p [id]		= "'SYMPTOM_CHECKS.EDIT.DEFAULT_SCHEDULE-p' | toID:'rcc-e2e'">
					{{this.defaultSchedule | translate}}
				</p>
			</ion-label>

			<ion-icon [name] = " 'edit' | rccIcon" slot = "end"></ion-icon>


		</ion-item>






		<ion-item
			[button]	= "true"
			(click)		= "reminderToggle.setValue(!reminderToggle.value)"
		>
			<ion-label>
				<h3 [id]	= "'SYMPTOM_CHECKS.EDIT.USE_SPECIFIC_REMINDER.LABEL' | toID:'rcc-e2e'">
					{{'SYMPTOM_CHECKS.EDIT.USE_SPECIFIC_REMINDER.LABEL' | translate}}
				</h3>

				<p
					class	= "ion-text-wrap"
					[id]	= "'SYMPTOM_CHECKS.EDIT.USE_SPECIFIC_REMINDER.DESCRIPTION'| toID:'rcc-e2e'"
				>
					{{'SYMPTOM_CHECKS.EDIT.USE_SPECIFIC_REMINDER.DESCRIPTION' | translate}}
				</p>
			</ion-label>

			<ion-toggle
				slot 		= "end"
				[checked] 	= "reminderToggle.value"
			></ion-toggle>

		</ion-item>





		<ion-item
			*ngIf 		= "reminderControl.enabled"
			id 			= "symptom-check-edit-reminder"
			[button]	= "true"
		>

			<ion-label>

				<h3 [id]	= "'SYMPTOM_CHECKS.EDIT.REMINDER.LABEL' | toID:'rcc-e2e'">
					{{'SYMPTOM_CHECKS.EDIT.REMINDER.LABEL' | translate}}

				</h3>

				<p
					class	= "ion-text-wrap"
					[id]	= "'SYMPTOM_CHECKS.EDIT.REMINDER.DESCRIPTION' | toID:'rcc-e2e'"
				>
					{{'SYMPTOM_CHECKS.EDIT.REMINDER.DESCRIPTION' | translate}}
				</p>

			</ion-label>

			<p
				slot 	= "end"
				class	= "ion-text-end"
			>
				{{reminderControl.value}}
			</p>


			<ion-modal
				style				= "--height:fit-content; align-items:end;--backdrop-opacity: var(--ion-backdrop-opacity, 0.32);"
				trigger				= "symptom-check-edit-reminder"
				[breakpoints]		= "[1]"
			>
  				<ng-template>

					<ion-datetime
						style 				= "max-width: 767px"
						presentation		= "time"
						[showDefaultButtons]= "true"
						doneText			= "{{'APPLY' | translate}}"
  						cancelText			= "{{'CANCEL' | translate}}"
						[formControl]		= "reminderControl"
					>
					</ion-datetime>

				</ng-template>
			</ion-modal>


		</ion-item>

		<ion-item
			[button] 	= "true"
			(click)		= "addCustomQuestion()"
		>

			<ion-label>
				<h2 [id]	= "'SYMPTOM_CHECKS.EDIT.ADD_CUSTOM_QUESTION' | toID:'rcc-e2e'">
					{{'SYMPTOM_CHECKS.EDIT.ADD_CUSTOM_QUESTION' | translate}}

				</h2>
			</ion-label>

			<ion-icon [name] = " 'add' | rccIcon" slot = "end" ></ion-icon>

		</ion-item>

		<ion-item
			[button]	= "true"
			(click) 	= "selectQuestions()"
		>

			<ion-label [id]	= "'SYMPTOM_CHECKS.EDIT.SELECT_QUESTIONS' | toID:'rcc-e2e'">
				{{'SYMPTOM_CHECKS.EDIT.SELECT_QUESTIONS' | translate}}
			</ion-label>

			<ion-icon [name] = " 'select-items' | rccIcon" slot = "end" ></ion-icon>

		</ion-item>
<!--

		<ion-item [routerLink] 	= "['../questions', 'new']">

			<ion-label>
				Create new question
			</ion-label>

			<ion-icon name = "add-outline" slot = "end"></ion-icon>

		</ion-item>

-->

		<rcc-item-tag
			*ngFor 			= "let question of questions"
			[item] 			= "question"
			[extraItemActions]	= "questionActions"
		>
			<p>
				<ion-text
					*ngIf 	= "question.tags.includes('rcc-category-default')"
					[id]	= "'symptom-check-question-default-category' | toID:'rcc-e2e'"
					color	= "primary"
				>
					{{'CURATED.QUESTIONS.CATEGORIES.RCC-CATEGORY-DEFAULT-NOTE' | translate}}
				</ion-text>
			</p>
			<p>
				<ion-text
					*ngIf 	= "customizedQuestions.get(question)"
					[id]	= "'symptom-check-question-customized' | toID:'rcc-e2e'"
					color	= "secondary"
				>
						{{'SYMPTOM_CHECKS.EDIT.EDITED' | translate}}
				</ion-text>

				<ion-text
					*ngIf	="questionSchedules.get(question) as schedule"
					[id]	= "'symptom-check-edit-schedule' | toID:'rcc-e2e'"
					color	= "secondary"
				>
					{{schedule | translate}}
				</ion-text>

				<ion-text
					*ngIf	="!questionSchedules.get(question)"
					[id]	= "'SYMPTOM_CHECKS.EDIT.DEFAULT_SCHEDULE' | toID:'rcc-e2e'"
				>
					{{'SYMPTOM_CHECKS.EDIT.DEFAULT_SCHEDULE'|translate}}:
					{{defaultSchedule | translate}}
				</ion-text>
			</p>
		</rcc-item-tag>

		<ion-text
			class = "ion-text-center"
			*ngIf = "questions.length === 0"
		>
			<h4 [id]	= "'SYMPTOM_CHECKS.EDIT.MISSING_QUESTIONS' | toID:'rcc-e2e'">
				{{'SYMPTOM_CHECKS.EDIT.MISSING_QUESTIONS' | translate}}
			</h4>
		</ion-text>

	</ion-list>



</ion-content>
