 <div
 	*ngIf 	= "queryControl && queryControl.question"
 	class	= "ion-padding"
 >

		<div class ="values">
			<div
				*ngFor  	= "let option of options; index as index"
				[ngClass]	= "{active: option.value === queryControl.answer}"
			>
				<span>{{option.value}}</span>
			</div>
		</div>

		<ion-range
			[min] 			= "min"
			[max] 			= "max"
			[pin]			= "true"
			[snaps]			= "true"
			[step]			= "step"
			[formControl]	= "queryControl.answerControl"
			[pinFormatter]	= "pinFormatter"
			color			= "primary"
		>
		</ion-range>

		<div class ="labels">
			<div
				*ngFor  	= "let option of options; index as index"
				[ngStyle]	= "getOptionStyle(index, option)"
                [id]        = "'basic-query-scale-option' | toID:'rcc-e2e'"
			>
				{{option | translate}}
			</div>
		</div>

</div>
