:host {
	display:			flex;
	position:			fixed;
	left:				calc(10px + var(--ion-safe-area-left, 0px));
	right:				calc(10px + var(--ion-safe-area-left, 0px));
	bottom:				10px;
	justify-content:	space-between;
	z-index:			100;
}

:host > * {
	display:			flex;
	flex:				0 0 auto;
}

