<ion-fab
	slot 		= "fixed"
	vertical 	= "bottom"
	horizontal	= "start"
	*ngIf		= "slider"
>

	<ion-fab-button
		color		= "medium"
		(click)		= "slider.previous()"
		[disabled] 	= "slider.atStart"
		size		= "small"
	>
		<ion-icon  [name] = "'previous' | rccIcon"></ion-icon>
	</ion-fab-button>

	<ion-fab-button
		color		= "medium"
		(click)		= "slider.next()"
		[disabled] 	= "slider.atEnd"
		size		= "small"
	>
		<ion-icon [name] = "'next' | rccIcon"></ion-icon>
	</ion-fab-button>
</ion-fab>

<ion-fab
	slot 		= "fixed"
	vertical 	= "bottom"
	horizontal	= "center"
	*ngIf		= "queryControl"
>
	<ion-fab-button
		color		= "medium"
		size		= "small"
		(click)		= "removeEntry()"
		[disabled]	= "queryControl?.disabled || !entryExists"

	>
		<ion-icon [name] = " 'delete' | rccIcon"></ion-icon>
	</ion-fab-button>

	<ion-fab-button
		color		= "secondary"
		size		= "small"
		(click)		= "revertEntry()"
		[disabled]	= "queryControl?.disabled || !changesExist"

	>
		<ion-icon [name] = " 'revert' | rccIcon"></ion-icon>
	</ion-fab-button>

</ion-fab>

<ion-fab
	slot 		= "fixed"
	vertical 	= "bottom"
	horizontal	= "end"
	*ngIf		= "queryControl"
>

	<ion-fab-button
		color		= "primary"
		(click)		= "storeEntry()"
		[disabled]	= "queryControl?.disabled || !changesExist"
	>
		<ion-icon name = "checkmark"></ion-icon>
	</ion-fab-button>

</ion-fab>

