ion-content::part(scroll) {
	display:			flex;
	flex-direction:		column;
}

rcc-slider {
	flex:				1 0 0;
	width:				100%;
}

header {
	display:			flex;
	justify-content:	space-between;
	align-items: 		center;
}


header > rcc-pagination {
	flex:				1 1 auto;
}

header > rcc-calendar-sheet {
	padding:			0.5em;
	cursor: 			pointer;

	border-bottom-right-radius	: 0;
	border-top-left-radius		: 0;
	border-top-right-radius		: 0;
}

header > rcc-calendar {
	flex: 				0 0 0;
	overflow: 			auto;
	padding-top: 		0.5em;
	width: 				0;
	animation: 			calendarOut 500ms linear;
}

header.calendar-open > rcc-calendar-sheet {
	z-index: 			100;
	box-shadow: 		0 0 0.5em 0 rgba(0,0,0,1);
}

header.calendar-open > *:not(rcc-calendar, rcc-calendar-sheet){
	display: 			none;
}

header.calendar-open > rcc-calendar{
	flex: 				1 0 0;

}


/*rcc-calendar.hidden {
	opacity: 			0;
	visibility: 		hidden;
	transition:			all 500ms ease-in;
	flex: 				0 1 auto;
}*/


rcc-query-run{
	flex: 				1 0 auto;
}

rcc-query-widget {
	height:				100%
}

#wrap-up-slide {
	display:			flex;
	flex-direction:		column;
	justify-content:	stretch-start;
}


#wrap-up-slide article {
	display: 			flex;
	align-items: 		center;
	justify-content: 	center;
	flex-wrap: 			wrap;
}

#wrap-up-slide article > rcc-calendar-sheet {
	flex: 				0 0 auto;
	margin-right: 		1em;
}

#wrap-up-slide article > rcc-calendar-sheet + * {
	flex: 				1 0 50%;
}

#wrap-up-slide article > p {
	flex: 				0 0 100%;
}




.spacer {
	flex:				0 1 10rem;
}

.fab-footer {
	display:			flex;
	position:			fixed;
	left:				calc(10px + var(--ion-safe-area-left, 0px));
	right:				calc(10px + var(--ion-safe-area-left, 0px));
	bottom:				10px;
	justify-content:	space-between;
	z-index:			100;
}

.fab-footer > * {
	display:			flex;
	flex:				0 0 auto;
}



