<ion-content>


	<header
		[ngClass]	= "{'calendar-open' : showCalendar}"
		class 		= "ion-horizontal-padding"
	>

		<ion-button
			button
			color 			= "dark"
			fill			= "clear"
			(click)			= "onCancel()"

		>
			<ion-icon name ="close"></ion-icon>
		</ion-button>

		<rcc-pagination
			[pageHandlers] 	= "pageHandlers"
			[activePage]	= "activePage"
			class			= "ion-padding"
		>
		</rcc-pagination>

		<rcc-calendar
			[startDate] 	= "startDate"
			[endDate]		= "endDate"
			[tickConfig]	= "calendarTickConfig"
			[dateControl]	= "dateControl"
			[highlight]		= "selectedDate === today ? 'primary' : 'secondary' "
			color			= "medium"

			(clickOutside)	= "toggleCalendar(false)"
			(dateChange)	= "toggleCalendar(false)"
			snap			= "end"
		>
		</rcc-calendar>


		<rcc-calendar-sheet
			clickPropagationStop
			class			= "highlight"
			[dateString] 	= "selectedDate"
			[color]			= "selectedDate === today ? 'primary' : 'secondary' "
			(click)			= "toggleCalendar()"
		>
		</rcc-calendar-sheet>

	</header>


	<rcc-query-run
		[queryControls] = "currentQueryControls"
		(cancel)		= "onCancel()"
		(done)			= "onDone()"
	>

		<rcc-slide
			id		= "wrap-up-slide"
			class 	= "ion-padding"
		>

			<ion-text
				color	= "dark"
				class 	= "ion-padding"
			>
				<h1
					*ngIf	= "!allDoneToday"
					[id]	= "'DAY_QUERIES.QUERY_RUN.WRAP_UP' | toID:'rcc-e2e'"
				>
					{{'DAY_QUERIES.QUERY_RUN.WRAP_UP' 	| translate}}
				</h1>
				<h1
					class	= "ion-horizontal-padding"
					*ngIf	= "allDoneToday"
					[id]	= "'DAY_QUERIES.QUERY_RUN.ALL_DONE' | toID:'rcc-e2e'"
				>
					{{'DAY_QUERIES.QUERY_RUN.ALL_DONE' 	| translate}}
				</h1>
			</ion-text>

			<!-- selectedDate: -->

			<ng-container
				*ngIf	= "selectedDate !== today"
			>

				<article
					class = "ion-padding"
				>
					<rcc-calendar-sheet
						[dateString]	= "selectedDate"
						color			= "secondary"
					></rcc-calendar-sheet>

					<p
						*ngIf	= "allDoneSelectedDate"
						[id]	= "'DAY_QUERIES.QUERY_RUN.SELECTED_DATE_ALL_DONE' | toID:'rcc-e2e'"
					>
						{{'DAY_QUERIES.QUERY_RUN.SELECTED_DATE_ALL_DONE' | translate }}
					</p>

					<p
						*ngIf	= "!allDoneSelectedDate"
						[id]	= "'DAY_QUERIES.QUERY_RUN.SELECTED_DATE_PARTIAL_ANSWERS' | toID:'rcc-e2e'"
					>
						{{'DAY_QUERIES.QUERY_RUN.SELECTED_DATE_PARTIAL_ANSWERS' | translate : {count: doneSelectedDate, total: totalSelectedDate} }}
					</p>


				</article>


			</ng-container>

			<!-- end selectedDate -->



			<article class = "ion-padding">

				<rcc-calendar-sheet
					[dateString]	= "today"
					color			= "primary"
				></rcc-calendar-sheet>

				<p
					*ngIf	= "!allDoneToday"
					[id]	= "'DAY_QUERIES.QUERY_RUN.TODAY_PARTIAL_ANSWERS' | toID:'rcc-e2e'"
				>
					{{'DAY_QUERIES.QUERY_RUN.TODAY_PARTIAL_ANSWERS' | translate : {count: doneToday, total: totalToday} }}
				</p>

				<p
					*ngIf = " allDoneToday"
					[id]	= "'DAY_QUERIES.QUERY_RUN.TODAY_ALL_DONE' | toID:'rcc-e2e'"
				>
					{{'DAY_QUERIES.QUERY_RUN.TODAY_ALL_DONE' | translate : {count: doneToday, total: totalToday} }}
				</p>



			</article>

			<rcc-icon *ngIf = "allDoneToday" name = "positive_feedback"></rcc-icon>

			<article
				*ngIf = "!allDoneToday"
				class = "ion-padding ion-text-center"
			>
				<ion-button
					color 	= "primary"
					fill	= "solid"
					(click) = "completeToday()"
					[id]	= "'DAY_QUERIES.QUERY_RUN.COMPLETE_TODAY' | toID:'rcc-e2e'"
				>
					{{'DAY_QUERIES.QUERY_RUN.COMPLETE_TODAY' | translate}}
				</ion-button>
			</article>

			<article class = "ion-padding">
				<p [id]	= "'DAY_QUERIES.QUERY_RUN.GO_BACK_TO_EDIT' | toID:'rcc-e2e'">
					{{'DAY_QUERIES.QUERY_RUN.GO_BACK_TO_EDIT' | translate }}
				</p>
			</article>


			<ion-button
				[color]		= "allDoneToday ? 'primary' : 'medium' "
				(click)		= "allDoneToday ? onDone() 	: onCancel()"
				[id]		= "'DAY_QUERIES.QUERY_RUN.DONE' | toID:'rcc-e2e'"
			>
				{{'QUERIES.QUERY_RUN.DONE' | translate}}
			</ion-button>

		</rcc-slide>

	</rcc-query-run>


</ion-content>
