<rcc-full-page>

	<header class ="ion-padding">

		<h1
			class ="ion-text-center"
			[id] = "'APP_NAME' | toID:'rcc-e2e'"
		>
			{{ 'APP_NAME' | translate }} – {{ 'APP_NAME_ADD_ON' | translate }}
		</h1>
		<h2
			class ="ion-text-center"
			[id] = "'TESTING' | toID:'rcc-e2e'"
		>
			{{ 'TESTING' | translate }}
		</h2>

	</header>
	<section>

			<rcc-action-button
				*ngFor 				= "let action of activeEntries"
				[action]			= "action"
			></rcc-action-button>

	</section>

	<footer class = "ion-padding">
		🐈​ {{ 'APP_NAME' | translate }} – {{ 'APP_NAME_ADD_ON' | translate }}
	</footer>
</rcc-full-page>
