:host {
	overflow-x:  			scroll;
	height: 				100%;
	max-height: 			100%;
	display: 				flex;
	flex-direction: 		column;
}

:host > div.chart {
	width:					calc( var(--number-of-data-points) * 3em);
	box-sizing: 			border-box;
	max-height: 			50%;
	height: 				50%;
	padding-bottom: 		4rem;
	flex: 					1 1 0;
	overflow: 				hidden;
}
