
<ion-fab
	vertical 	= "top"
	horizontal	= "start"
	slot		= "fixed"
    id       = "rcc-e2e-menu-button"
>
	<ion-menu-toggle>
		<ion-fab-button color = "light">
			<ion-icon [name] = "'menu'| rccIcon"></ion-icon>
		</ion-fab-button>
	</ion-menu-toggle>

</ion-fab>



<ion-fab
	*ngIf		= "showHomeButton"
	vertical	= "top"
	horizontal	= "end"
	slot		= "fixed"
>
	<ion-button
		button
		color 			= "dark"
		fill			= "clear"
		[routerLink]	= "close.observers.length === 0 ? '/'  : null"
		(click)			= "close.observers.length === 0 ? null : close.emit()"
		routerDirection = "root"
	>
		<ion-icon name ="close"></ion-icon>
	</ion-button>
</ion-fab>




<ion-content [fullscreen] 	= "true">

	<ng-content></ng-content>

</ion-content>
