<ion-grid class = "ion-no-padding">


	<!-- WORDING -->

	<ion-row *ngIf = "wordingControl.enabled"><ion-col>

		<ion-item>

			<ion-label
				position	= "stacked"
				[id]		= "'QUESTIONS.EDIT.WORDING' | toID:'rcc-e2e'"
			>
				{{ "QUESTIONS.EDIT.WORDING" | translate }}</ion-label>

			<ion-input
				[formControl]   = "wordingControl"
				[placeholder]   = "'QUESTIONS.EDIT.WORDING_PLACEHOLDER' | translate"
			></ion-input>

		</ion-item>

	</ion-col></ion-row>


	<!-- ANSWER TYPE / UNIT -->

	<ion-row>

		<ion-col>

			<ion-item>

				<ion-label
				position	= "stacked"
				[id]		= "'QUESTIONS.EDIT.ANSWER_TYPE' | toID:'rcc-e2e'"
			>
				{{ "QUESTIONS.EDIT.ANSWER_TYPE" | translate }}</ion-label>

				<ion-select
					[formControl] 		= "answerTypeControl"
					interface			= "popover"
					[interfaceOptions]	= "{subHeader: ('QUESTIONS.EDIT.ANSWER_TYPE_EXPLANATION' | translate)}"

				>

					<ion-select-option
						*ngFor	= "let value of answerTypes"
						[value]	= "value"
						[id]	= "'QUESTIONS.EDIT.ANSWER_TYPES.%s' | fill : value | toID:'rcc-e2e'"
					>
						{{'QUESTIONS.EDIT.ANSWER_TYPES.%s' | fill : value | translate}}
					</ion-select-option>

				</ion-select>

			</ion-item>

		</ion-col>

		<ion-col
			size = "4"
			*ngIf = "unitControl.enabled"
		>
			<ion-item>

				<ion-label
				position	= "stacked"
				[id]		= "'QUESTIONS.EDIT.UNIT' | toID:'rcc-e2e'"
			>
				{{ "QUESTIONS.EDIT.UNIT" | translate }}</ion-label>

				<ion-input [formControl] = "unitControl"></ion-input>

			</ion-item>

		</ion-col>

	</ion-row>




	<!-- LIMITATIONS -->


	<ion-row *ngIf = "this.limitationControl.enabled"><ion-col>

		<ion-item>

			<ion-label
				position	= "stacked"
				[id]		= "'QUESTIONS.EDIT.LIMITATIONS.LABEL' | toID:'rcc-e2e'"
			>
				{{ "QUESTIONS.EDIT.LIMITATIONS.LABEL" | translate }}</ion-label>

			<ion-select
				[formControl] 	= "limitationControl"
				interface		= "popover"
			>

				<ion-select-option
					*ngFor	= "let value of limitationOptions"
					[value] = "value"
					[id]	= "'QUESTIONS.EDIT.LIMITATIONS.OPTIONS' | fill : value | toID:'rcc-e2e'"
				>
					{{'QUESTIONS.EDIT.LIMITATIONS.OPTIONS.%s' | fill : value | translate}}
				</ion-select-option>

			</ion-select>

		</ion-item>

	</ion-col></ion-row>





	<!-- MIN/MAX -->

	<ion-row
		*ngIf = "minMaxControls.enabled"
		class = "ion-align-items-end"
	>

		<ion-col size = "3">

			<ion-toggle [formControl] 	= "enableMinControl"></ion-toggle>

		</ion-col>

		<ion-col size = "9">

			<ion-item>

				<ion-label
					[id]	= "'QUESTIONS.EDIT.MIN' | toID:'rcc-e2e'"
				>
					{{ "QUESTIONS.EDIT.MIN" | translate }}:
				</ion-label>

				<ion-input
					[formControl] 	= "minControl"
					type			= "number"
				></ion-input>

			</ion-item>

		</ion-col>

	</ion-row>


	<ion-row
		*ngIf = "minMaxControls.enabled"
		class = "ion-align-items-end"
	>

		<ion-col size = "3">

			<ion-toggle [formControl] 	= "enableMaxControl"></ion-toggle>

		</ion-col>

		<ion-col size = "9">

			<ion-item>

				<ion-label
					[id]	= "'QUESTIONS.EDIT.MAX' | toID:'rcc-e2e'"
				>
					{{ "QUESTIONS.EDIT.MAX" | translate }}:
				</ion-label>

				<ion-input
					[formControl] 	= "maxControl"
					type			= "number"
				></ion-input>

			</ion-item>

		</ion-col>

	</ion-row>




	<!-- OPTIONS -->

	<ng-container *ngIf = "optionControls.enabled">

		<ion-row class = "ion-padding"></ion-row>

		<ion-row><ion-col>

			<ion-item
				[button] 	= "true"
				(click)		= "addOption()"
				lines		= "full"
				[id]		= "'QUESTIONS.EDIT.OPTIONS.ADD' | toID:'rcc-e2e'"
			>

				<ion-label>{{ "QUESTIONS.EDIT.OPTIONS.ADD" | translate }}</ion-label>

				<ion-icon
					[name] 	= " 'add' | rccIcon"
					slot	= "end"
				></ion-icon>

			</ion-item>


		</ion-col></ion-row>


		<ion-row
			*ngFor 		= "let optionControl of optionControls.controls"
			[formGroup] = "optionControl"
			class 		= "ion-align-items-end"
		>

			<ion-col size = "3">

				<!-- text option -->
				<ion-item lines = "full" *ngIf = "optionValueType === 'text'">
					<ion-label
						position	= "stacked"
						[id]		= "'QUESTIONS.EDIT.OPTIONS.VALUE' | toID:'rcc-e2e'"
					>
						{{ "QUESTIONS.EDIT.OPTIONS.VALUE" | translate }}</ion-label>
					<ion-input
						formControlName = "value"
						type 			= "text"
						[autofocus]		= "true"
					></ion-input>
				</ion-item>

				<!-- number option -->
				<ion-item lines = "full" *ngIf = "optionValueType === 'number'">
					<ion-label
						position	= "stacked"
						[id]		= "'QUESTIONS.EDIT.OPTIONS.VALUE' | toID:'rcc-e2e'"
					>
						{{ "QUESTIONS.EDIT.OPTIONS.VALUE" | translate }}</ion-label>
					<ion-input
						formControlName = "value"
						type 			= "number"
						[autofocus]		= "true"
					></ion-input>
				</ion-item>

				<!-- boolean option -->
				<ion-item lines = "full" *ngIf = "optionValueType === 'boolean'">

					<ion-label
						position	= "stacked"
						[id]		= "'QUESTIONS.EDIT.OPTIONS.VALUE' | toID:'rcc-e2e'"
					>
						{{ "QUESTIONS.EDIT.OPTIONS.VALUE" | translate }}</ion-label>

					<ion-select formControlName = "value">

						<ion-select-option
							[value] = "true"

						>
							{{ 'TRUE' 	| translate}}
						</ion-select-option>
						<ion-select-option
							[value] = "false"
						>
							{{ 'FALSE' 	| translate}}
						</ion-select-option>

					</ion-select>

				</ion-item>


			</ion-col>


			<ion-col size = "7">

				<ion-item lines = "full">
					<ion-label
						position	= "stacked"
						[id]		= "'QUESTIONS.EDIT.OPTIONS.LABEL' | toID:'rcc-e2e'"
					>
						{{ "QUESTIONS.EDIT.OPTIONS.LABEL" | translate }}</ion-label>
					<ion-input formControlName =  "label"></ion-input>
				</ion-item>

			</ion-col>

			<ion-col size = "2">

				<ion-item
					lines 		= "full"
					[button] 	= "true"
					(click) 	= "removeOption(optionControl)"
				>
					<ion-icon
						[name]	= "'remove' | rccIcon"
						slot	= "end"
					></ion-icon>
				</ion-item>

			</ion-col>

		</ion-row>

	</ng-container>



	<ion-row class = "ion-padding"></ion-row>


	<!-- TAGS -->

	<ng-container *ngIf = "tagControl.enabled">

		<ion-row><ion-col>

			<ion-item>
				<ion-label>
					<h2 [id] = "'QUESTIONS.EDIT.TAGS.HEADING' | toID:'rcc-e2e'">
						{{"QUESTIONS.EDIT.TAGS.HEADING" | translate}}
					</h2>
				</ion-label>
			</ion-item>

		</ion-col></ion-row>

		<ion-row class = "ion-align-items-end">

			<ion-col>

				<ion-item>

					<ion-label
				position	= "stacked"
				[id]		= "'QUESTIONS.EDIT.TAGS.ADD' | toID:'rcc-e2e'"
			>
				{{ "QUESTIONS.EDIT.TAGS.ADD" | translate }}</ion-label>

					<ion-input
						list 			= "tagComplete"
						[formControl] 	= "tagControl"
						autocomplete	= "on"
						(keydown.enter) = "addTagFromControl(tagControl)"
					></ion-input>

					<datalist id="tagComplete">
						<option
							*ngFor 	= 	"let tag of knownTags"
							[value] =	"tag"
						></option>
					</datalist>


				</ion-item>

			</ion-col>

			<ion-col size = "2">

				<ion-item
					lines 		= "full"
					[button] 	= "true"
					(click) 	= "addTagFromControl(tagControl)"
				>
					<ion-icon
						[name]	= "'add' | rccIcon"
						slot	= "end"
					></ion-icon>
				</ion-item>

			</ion-col>

		</ion-row>



		<ion-row><ion-col class = "ion-padding">

			<ion-chip
				*ngFor 	= "let tag of tags"
				(click)	= "tags.delete(tag)"
			>
				{{tag}}
				<ion-icon [name] = "'close' | rccIcon "></ion-icon>
			</ion-chip>

		</ion-col></ion-row>

	</ng-container>

</ion-grid>
