<ng-template>

	<div
		class   = "start-date"
		[id]	= "'basic-session-label-start-date' | toID:'rcc-e2e'"
	>
		{{ (session.startDate | translate : {hour: '2-digit', minute:'2-digit'}) }}
	</div>

	<h3
		class 	="ion-text-wrap"
		id		="rcc-e2e-sessions-day"

	>
		{{'SESSION' | translate}} – {{ session.startDate | translate : {weekday: "long"} }}
	</h3>

	<p
		class ="ion-text-wrap"
		id	= "rcc-e2e-sessions-date"

	>
		{{ session.startDate | translate : {year: "numeric", month: "short", day: "numeric"} }}
	</p>

	<p
		class ="ion-text-wrap"

	>

		<span
			*ngIf	= "session.symptomCheck"
			[id]	= "'SESSIONS.BASIC_LABEL.QUESTIONS' | toID:'rcc-e2e'"
		>
			{{'SESSIONS.BASIC_LABEL.QUESTIONS' | translate}}: {{session.symptomCheck.questionSchedules.length}},
		</span>
		<span
			*ngIf	= "!session.symptomCheck"
			[id]	= "'SESSIONS.BASIC_LABEL.NO_SYMPTOM_CHECK' | toID:'rcc-e2e'"
		>
			{{'SESSIONS.BASIC_LABEL.NO_SYMPTOM_CHECK' | translate}}
		</span>

		<span
			*ngIf	= "session.report"
			[id]	= "'SESSIONS.BASIC_LABEL.REPORT' | toID:'rcc-e2e'"
		>
			{{'SESSIONS.BASIC_LABEL.REPORT' | translate}}: {{ session.report.entries.length}}
		</span>
		<span
			*ngIf	= "!session.report"
			[id]	= "'SESSIONS.BASIC_LABEL.NO_REPORT' | toID:'rcc-e2e'"
		>
			{{'SESSIONS.BASIC_LABEL.NO_REPORT' | translate}}
		</span>

	</p>

</ng-template>
