rcc-action-button .fab-wrapper{
	position: 			relative;
	padding-left:		var(--ion-padding, 16px);
	padding-top:		var(--ion-padding, 16px);
	padding-bottom:		var(--ion-padding, 16px);
}

rcc-action-button .fab-wrapper	ion-badge {
	position: 				absolute;
	top: 					0.5em;
	right: 					0;
	min-width: 				1em;
}
