<ng-container *ngIf = "action">


	<ion-item
		class			= "ion-padding-horizontal"
		[button] 		= "true"
		(click)			= "execute(action)"
		[disabled]		= "action.disabled && action.disabled()"
	>

		<div slot ="start" class ="fab-wrapper">

			<ion-fab-button color = "primary">
				<ion-icon [name] = "action.icon | rccIcon"></ion-icon>
			</ion-fab-button>


			<ion-badge *ngIf = "notificationValue" color="secondary" slot = "end"> {{ notificationValue === true ? '!' : notificationValue }} </ion-badge>

		</div>

		<ion-label>

			<h3 [id]    = "action.label | toID:'rcc-e2e'">{{ action.label | translate}}</h3>

			<p
				class	= "ion-text-wrap"
				*ngIf	= "hasDescription(action)"
				[id]    = "action.description | toID:'rcc-e2e'"
			>
				{{ action.description | translate }}
			</p>

			<p
				class 	= "ion-text-wrap"
				*ngIf	= "hasChildComponent(action)"
			>
				<ng-container
					[ngComponentOutlet]	= "action.childComponent"
					[class]    = "action.description	 | toID:'rcc-e2e'"
					></ng-container>
			</p>

		</ion-label>


	</ion-item>

</ng-container>
