<ion-content [fullscreen] = "true" class = "ion-padding">

	<h1
		class	= "ion-text-center"
		[id]	= "'ENTRY_SHARE.MODAL.HEADING' | toID:'rcc-e2e'"
	>
		{{'ENTRY_SHARE.MODAL.HEADING' | translate}}
	</h1>

	<ion-list>

		<ion-item
			[button]	= "true"
			(click)		= "selectAll()"
		>
			<ion-fab-button slot = "start">
				<ion-icon [name] = "'share' | rccIcon"></ion-icon>
			</ion-fab-button>

			<ion-label>
				<h3 [id]	= "'ENTRY_SHARE.MODAL.ALL.LABEL' | toID:'rcc-e2e'">{{'ENTRY_SHARE.MODAL.ALL.LABEL' | translate}}</h3>
				<p
					class	="ion-text-wrap"
					[id]	= "'ENTRY_SHARE.MODAL.ALL.DESCRIPTION' | toID:'rcc-e2e'"
				>
					{{'ENTRY_SHARE.MODAL.ALL.DESCRIPTION' | translate}}
				</p>
			</ion-label>
		</ion-item>

		<ion-item
			[button]	= "true"
			(click)		= "selectSymptomCheck()"
		>
			<ion-fab-button slot = "start">
				<ion-icon [name] = "'share' | rccIcon"></ion-icon>
			</ion-fab-button>

			<ion-label>
				<h3 [id]	= "'ENTRY_SHARE.MODAL.SYMPTOM_CHECKS.LABEL' | toID:'rcc-e2e'">{{'ENTRY_SHARE.MODAL.SYMPTOM_CHECKS.LABEL' | translate}}</h3>
				<p
					class	="ion-text-wrap"
					[id]	= "'ENTRY_SHARE.MODAL.SYMPTOM_CHECKS.DESCRIPTION' | toID:'rcc-e2e'"
				>
					{{'ENTRY_SHARE.MODAL.SYMPTOM_CHECKS.DESCRIPTION' | translate}}
				</p>
			</ion-label>
		</ion-item>

	</ion-list>

	<div class = "ion-text-center">

		<ion-button
			color 	= "secondary"
			(click)	= "cancel()"
			fill	= "solid"
			[id]	= "'ENTRY_SHARE.MODAL.CANCEL' | toID:'rcc-e2e'"
		>
			{{'ENTRY_SHARE.MODAL.CANCEL' | translate}}
		</ion-button>

	</div>

</ion-content>
