<ion-list *ngFor ="let store of activeStores">

	<ion-list-header
		[id]    = "store.name | toID: 'rcc-e2e'"
	>
		<h2>{{ store.name | translate }}</h2>
        <p> ({{(store.items).length}})</p>

	</ion-list-header>

	<ion-item-group>

		<rcc-item-tag
			*ngFor 		= "let item of filterItems(store.items)"
			[item]		= "item"
			[selected]	= "selected && selected.includes(item)"
			(click)		= "toggleSelect(item)"
		></rcc-item-tag>

	</ion-item-group>

	<ion-item
		*ngIf = "filterItems(store.items).length === 0"

	>
		<ion-label
			class	= "ion-text-center"
			[id]	= "'META_STORE.NO_ITEMS' | toID: 'rcc-e2e'"

		>
			{{ 'META_STORE.NO_ITEMS' | translate }}
		</ion-label>
	</ion-item>

</ion-list>

<ion-text
	*ngIf	= "activeStores.length === 0"
	class 	= "ion-text-center"
	[id]	= "'META_STORE.NO_ACTIVE_STORES' | toID: 'rcc-e2e'"

>
	<h3>{{ 'META_STORE.NO_ACTIVE_STORES' | translate }}</h3>
</ion-text>
