<rcc-full-page
	(close) = "close()"
>

	<rcc-query-view
		*ngIf 			= "queryControl"
		[queryControl] 	= "queryControl"
	>
	</rcc-query-view>

	<rcc-query-panel [queryControl]= "queryControl"> </rcc-query-panel>

</rcc-full-page>



