<ion-header>
	<ion-toolbar>

		<ion-buttons slot="start">

			<ion-button
				(click) = "cancel()"
			>
				<ion-icon
					slot 	= "icon-only"
					[name] 	= " 'close' | rccIcon"
				>
				</ion-icon>
			</ion-button>

		</ion-buttons>

		<ion-title
			class	= "ion-text-center"
			*ngIf	= "heading"
			[id]	= "heading | toID:'rcc-e2e'"
		>
			{{ heading | translate }}
		</ion-title>

		<ion-buttons slot="end">

		<ion-button (click) = "toggleSearch()">
			<ion-icon
				slot	= "icon-only"
				name 	= "search"
			></ion-icon>
		</ion-button>

<!--
			<ion-button
				color	= "primary"
				fill	= "solid"
				(click) = "apply()"
				[id]    = "applyLabel | toID:'rcc-e2e'"

			>
				{{applyLabel | translate }}
			</ion-button>
	-->

		</ion-buttons>
	</ion-toolbar>

	<ion-toolbar
		*ngIf = "itemGroups.length > 1"
		class = "ion-padding-end ion-padding-start"
	>

		<ion-select
			interface		= "popover"
			[id]			= "'ITEMS.SELECT.FILTER_PLACEHOLDER' | toID:'rcc-e2e'"
			placeholder		= "{{'ITEMS.SELECT.FILTER_PLACEHOLDER' | translate}}"
			[formControl] 	= "groupControl"
		>

			<ion-select-option
				[value] = "null"
				[id]    = "'ITEMS.SELECT.NO_FILTER' | toID:'rcc-e2e'"
			>
				{{'ITEMS.SELECT.NO_FILTER' | translate}}
			</ion-select-option>

			<ion-select-option
				*ngFor 	= "let group of itemGroups"
				[id]    = "group.representation.label | toID:'rcc-e2e'"
				[value]	= "group"
			>
				{{group.representation.label | translate}} ({{group.items.length}})
			</ion-select-option>

		</ion-select>

	</ion-toolbar>

	<ion-toolbar *ngIf = "showSearch">

		<ion-searchbar
			[formControl] = "searchControl"
		></ion-searchbar>

	</ion-toolbar>

</ion-header>




<ion-content [fullscreen] = "true">

	<p
		*ngIf = "message"
		class = "ion-padding"
	>
		{{message|translate}}
	</p>

	<ion-list>

		<rcc-item-tag
			*ngFor 			= "let item of filteredItems.slice(0, numberOfItems)"
			[item]			= "item"
			[id]            = "item.id"
			[selected]		= "selected.has(item)"
			(click)			= "toggleSelect(item)"
		></rcc-item-tag>

	</ion-list>

	<ion-text
		*ngIf		= "filteredItems.length === 0"
	>
		<h4
			class = "ion-text-center"
			[id]    = "'ITEMS.SELECT.NO_ITEMS_FOUND' | toID:'rcc-e2e'"
		>
			{{ 'ITEMS.SELECT.NO_ITEMS_FOUND' | translate }}
			<span *ngIf = "searchControl.value?.trim()"	>
				("{{searchControl.value?.trim()}}")
			</span>
		</h4>
	</ion-text>

	<ion-infinite-scroll
		(ionInfinite)	= "increaseNumberOfItems($event)"
		threshold		= "40%"
	>

		<ion-infinite-scroll-content>
		</ion-infinite-scroll-content>

	</ion-infinite-scroll>
</ion-content>


<ion-fab
	slot		= "fixed"
	horizontal 	= "end"
	vertical	= "bottom"
>
	<ion-fab-button
		color	= "primary"
		(click) = "apply()"
		class = "rcc-e2e-checkmark-button"
	>
		<ion-icon [name]	= " 'apply' | rccIcon ">
		</ion-icon>
	</ion-fab-button>
</ion-fab>
