<!-- stolen from backup-page component -->

<ion-header>
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-back-button defaultHref = "/"></ion-back-button>
	  </ion-buttons>

	  <ion-title>
		Willkommen bei REPOSE
	  </ion-title>

	</ion-toolbar>
</ion-header>

<ion-content>
	<!-- <h2>Journal Data</h2>
	<table>
		<tr>
			<th>question</th>
			<th>questionId</th>
			<th>answer</th>
			<th>answerText</th>
			<th>date</th>
			<th>targetDay</th>
			<th>language</th>
		</tr>
		<tr *ngFor="let entry of userData">
			<td>{{ entry.question }}</td>
			<td>{{ entry.questionId }}</td>
			<td>{{ entry.entry }}</td>
			<td>{{ entry.entryText }}</td>
			<td>{{ entry.date }}</td>
			<td>{{ entry.targetDay }}</td>
			<td>{{ entry.language }}</td>
		</tr>
	</table> -->


	<h2>FHIR Data</h2>
	<!-- <p>Datum: {{ fhir.authored }}</p>
	<table>
		<tr>
			<th>text</th>
			<th>answer</th>
		</tr>
		<tr *ngFor="let entry of fhir.item">
			<td>{{ entry.text }}</td>
			<!-- TODO ????? -->
			<!-- <td *ngFor="let key in entry.answer[0]">{{ entry.answer[0][key] }}</td> -->
		<!-- </tr>
	</table> -->

	<button (click)="onSendData()">Send Data</button><br>

	<pre>
		{{ fhir_json }}
	</pre>

</ion-content>
