<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "/"></ion-back-button>
    </ion-buttons>

    <ion-title [id] = "'BACKUP.PAGE.TITLE' | toID:'rcc-e2e'">
      {{'BACKUP.PAGE.TITLE' | translate}}
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen] = "true" class = "ion-padding">

	<ion-list>

		<!-- get backup data -->
		<rcc-action-button [action]="backupAction"></rcc-action-button>

		<!-- download backup file (JSON) -->
		<rcc-action-button
			*ngIf		= "downloadAction.data"
			[action]	= "downloadAction"
		></rcc-action-button>

		<!-- restore from backup file -->
		<ion-item
			[button] = "true"
		>
				<ion-label [id] = "'BACKUP.PAGE.RESTORE_BACKUP.LABEL' | toID:'rcc-e2e'">
					{{'BACKUP.PAGE.RESTORE_BACKUP.LABEL' | translate}}
				</ion-label>
				<ion-input type = "file" ></ion-input>
		</ion-item>

	</ion-list>

</ion-content>
