// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


// Minimal Branding Guide  https://app.clickup.com/30310582/v/dc/wx05p-5901/wx05p-4281

:root {
	--rcc-color-violet-default:				#504AF0;
	--rcc-color-violet-hover:				#1B178F;
	--rcc-color-violet-disabled:			#A8BAFC;
	--rcc-color-violet-back:				#EDF2F9;

	--rcc-color-orange-default:				#E78143;
	--rcc-color-orange-hover:				#BD5A1C;
	--rcc-color-orange-disabled:			#FBD1B8;
	--rcc-color-orange-back:				#FAECE4;

	--rcc-color-green-default:				#29BAA5;
	--rcc-color-green-hover:				#158070;
	--rcc-color-green-disabled:				#A8E3DA;
	--rcc-color-green-back:					#E1F5F2;

	--rcc-color-yellow-default:				#FDC135;
	--rcc-color-yellow-hover:				#BA8D23;
	--rcc-color-yellow-disabled:			#FEE6AD;
	--rcc-color-yellow-back:				#FCF7E4;

	--rcc-color-black-default:				#383838;
	--rcc-color-black-hover:				#000000;
	--rcc-color-black-disabled:				#555;
	--rcc-color-black-back:					#666;


	--rcc-color-productive-foreground:				var(--rcc-color-orange-default);
	--rcc-color-productive-foreground-hover:		var(--rcc-color-orange-hover);
	--rcc-color-productive-background:				var(--rcc-color-orange-back);
	--rcc-color-productive-background-hover:		var(--rcc-color-orange-disabled);

	--rcc-color-share-foreground:					var(--rcc-color-violet-default);
	--rcc-color-share-foreground-hover:				var(--rcc-color-violet-hover);
	--rcc-color-share-background:					var(--rcc-color-violet-back);
	--rcc-color-share-background-hover:				var(--rcc-color-violet-disabled);

	--rcc-color-details-foreground:					var(--rcc-color-green-default);
	--rcc-color-details-foreground-hover:			var(--rcc-color-green-hover);
	--rcc-color-details-background:					var(--rcc-color-green-back);
	--rcc-color-details-background-hover:			var(--rcc-color-green-disabled);

	--rcc-color-edit-foreground:					var(--rcc-color-yellow-default);
	--rcc-color-edit-foreground-hover:				var(--rcc-color-yellow-hover);
	--rcc-color-edit-background:					var(--rcc-color-yellow-back);
	--rcc-color-edit-background-hover:				var(--rcc-color-yellow-disabled);

	--rcc-color-destructive-foreground:				var(--rcc-color-orange-default);
	--rcc-color-destructive-foreground-hover:		var(--rcc-color-orange-hover);
	--rcc-color-destructive-background:				var(--rcc-color-orange-back);
	--rcc-color-destructive-background-hover:		var(--rcc-color-orange-disabled);

	--rcc-color-undefined-foreground:				var(--rcc-color-black-default);
	--rcc-color-undefined-foreground-hover:			var(--rcc-color-black-hover);
	--rcc-color-undefined-background:				var(--rcc-color-black-back);
	--rcc-color-undefined-background-hover:			var(--rcc-color-black-disabled);
}


/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #f58d14; 				// previous color: #1abc9c
	--ion-color-primary-rgb: 245,141,20;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #D77709;		// previous color:#17a589
	--ion-color-primary-tint: #FFC036;			// previous color: #31c3a6

  --ion-color-secondary: #925b36; //  previous color:  #e95849
  --ion-color-secondary-rgb: 146,91,54;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #6c4327; // previous color: #cd4d40
  --ion-color-secondary-tint: #aa673a;  // previous color: #eb695b

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82,96,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
