<div
	[formControl]="queryControl.answerControl"
	ngDefaultControl
	role="radiogroup"
	[attr.aria-label]="queryControl.question | translate"
>
	<ion-grid>
		<ion-row>
			<ion-col *ngFor="let answer of answers; index as index; first as isFirst" size="6">
				<ion-card
					class                   = "ion-activatable ripple-parent"
					[color]                 = "isChecked(answer) ? 'primary' : 'light'"
					[tabindex]              = "tabIndex(answer, isFirst)"
					role                    = "radio"
					[attr.aria-checked]     = "isChecked(answer)"
					[attr.value]            = "answer.value"
					(keydown.space)         = "selectAnswer(answer.value)"
					(click)                 = "selectAnswer(answer.value)"
					(keydown.arrowRight)    = "goToNext($event, index)"
					(keydown.arrowDown)     = "goToNext($event, index)"
					(keydown.arrowLeft)     = "goToPrevious($event, index)"
					(keydown.arrowUp)       = "goToPrevious($event, index)"
				>
					<ion-card-content>
						{{answer | translate}}
						<ion-ripple-effect></ion-ripple-effect>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</div>
