<ng-template>

	<h3
		class ="ion-text-wrap"
		[id]	= "'SYMPTOM_CHECK' | toID:'rcc-e2e'"
	>
		{{'SYMPTOM_CHECK' | translate}}
		–
		{{ symptomCheck.meta.label ? symptomCheck.meta.label : ('SYMPTOM_CHECK_META_STORE.NO_LABEL' | translate) }}
	</h3>

	<p [id]	= "'SYMPTOM_CHECK_META_STORE.QUESTIONS' | toID:'rcc-e2e'">
		{{ 'SYMPTOM_CHECK_META_STORE.QUESTIONS' | translate }}: {{symptomCheck.questionSchedules.length}}

		<ion-text
			*ngIf 	= "symptomCheck.meta.paused"
			color	= "secondary"
			[id]	= "'SYMPTOM_CHECK_META_STORE.PAUSED' | toID:'rcc-e2e'"
		>
			{{ 'SYMPTOM_CHECK_META_STORE.PAUSED'| translate }}
		</ion-text>
	</p>
</ng-template>
