<div class = "ion-padding">


	<h1 [id]	= "'query-view-question' | toID:'rcc-e2e'">
		<ion-text color="dark">
			{{queryControl.question | translate }}
			<span *ngIf = "queryControl.question.unit">({{queryControl.question.unit}})</span>
		</ion-text>
		<ion-text
			[color] = "hasAnswer ? 'primary' : 'medium' "
			style	= "font-size: 0.8em"
		>
			<span
				*ngIf	= "hasAnswer"
				[id]	= "'QUERIES.VIEW.QUESTION_ANSWERED' | toID:'rcc-e2e'"
			>
				{{'QUERIES.VIEW.QUESTION_ANSWERED' | translate }}
			</span>
			<span
				*ngIf	= "!hasAnswer"
				[id]	= "'QUERIES.VIEW.QUESTION_OPEN' | toID:'rcc-e2e'"
			>
					{{'QUERIES.VIEW.QUESTION_OPEN' | translate }}
			</span>
		</ion-text>
	</h1>

</div>


<rcc-widget
		[widgetControl] = "queryControl"
		class = "rcc-e2e-answers"
></rcc-widget>
