:host {
	display:				flex;
	min-height:				100%;
	flex-direction:			column;
	justify-content:		space-between;
	padding: 				var(--ion-padding, 16px);
}

:host:after {
	content:				'';
	display:				block;
	flex:					0 0 10rem;
}

