<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-select
				*ngIf				= "availableDevices.length > 1"
				[formControl]		= "currentDevice"
				interface			= "popover"
			>
				<ion-select-option
					*ngFor 	=	"let device of availableDevices"
					[value] =	"device"
				>
					{{device.label}}
				</ion-select-option>
			</ion-select>
		</ion-buttons>




		<ion-buttons slot="end">
			<ion-button (click) = "cancel()">
				<ion-icon name="close"></ion-icon>
			</ion-button>
		</ion-buttons>

	</ion-toolbar>
</ion-header>


<ion-content
	[scrollX]	= "false"
	[scrollY]	= "false"
>

	<div
		class = "spin-wrapper"
		*ngIf = "initializing"
	>
		<ion-spinner></ion-spinner>
	</div>


	<video #video></video>


	<div
		*ngIf	= "cameraNotFound"
		class	= "ion-padding"
		[id]	= "'QR_CODE_SCANNER.MISSING_CAMERA' | toID:'rcc-e2e'"
	>
		{{ 'QR_CODE_SCANNER.MISSING_CAMERA' | translate }}
	</div>

</ion-content>
