<rcc-meta-store-header
	[metaStore] 		= "symptomCheckMetaStoreService"
	[filterControl]		= "filterControl"
>
</rcc-meta-store-header>


<ion-content [fullscreen] = "true">

		<rcc-meta-store
			[metaStore] 	= "symptomCheckMetaStoreService"
			[filterControl]	= "filterControl"
		></rcc-meta-store>

</ion-content>
