<ion-header>
	<ion-toolbar>

		<ion-title
			*ngIf   = "heading"
			[id]    = "heading | toId: 'rcc-e2e'"

		>
			{{ heading | translate }}
		</ion-title>

		<ion-buttons slot="end">

			<ion-button
				color	= "light"
				fill	= "solid"
				(click) = "cancel()"
				[id]    = "cancelLabel | toID: 'rcc-e2e'"
			>
				{{cancelLabel | translate }}
			</ion-button>

		</ion-buttons>

		<ion-buttons slot="end">

			<ion-button
				color	= "primary"
				fill	= "solid"
				(click) = "apply()"
				[id]    = "applyLabel | toID: 'rcc-e2e'"
			>
				{{applyLabel | translate }}
			</ion-button>

		</ion-buttons>

	</ion-toolbar>
</ion-header>




<ion-content [fullscreen] = "true">

	<ion-list>

		<ng-container
			*ngIf 	= "mode === 'simple'"
		>

			<ion-item-group>

				<rcc-item-tag
					*ngFor 		= "let item of allItems"
					[item]		= "item"
					[selected]	= "selected.has(item)"
					(click)		= "toggleSelect(item)"
				></rcc-item-tag>

			</ion-item-group>

		</ng-container>

		<ng-container *ngIf = "mode === 'complex'">

			<rcc-action-button

				*ngFor 		= "let action of actions"
				[action] 	= "action"
			>
			</rcc-action-button>

			<ion-list-header
				[id]    = "'ITEMS.SELECT.PRESELECTED_ITEMS' | toID: 'rcc-e2e'"
			>
				<h2>{{ 'ITEMS.SELECT.PRESELECTED_ITEMS' | translate }}</h2>
			</ion-list-header>

			<ion-item-group>
				<rcc-item-tag
					*ngFor 		= "let item of preselect"
					[item]		= "item"
					[selected]	= "selected.has(item)"
					(click)		= "toggleSelect(item)"
				></rcc-item-tag>

			</ion-item-group>

		</ng-container>

<!-- 		<ion-item
			*ngIf = "allItems.length === 0"

		>
			<ion-label
				class = "ion-text-center"
				[id]    = "'META_STORE.NO_ITEMS' | toID: 'rcc-e2e'"

			>
				{{ 'META_STORE.NO_ITEMS' | translate }}
			</ion-label>
		</ion-item> -->

	</ion-list>

</ion-content>
