	<div
	*ngIf 	= "queryControl && queryControl.question"
	class	= "ion-padding"
 >

	<ion-list>
		<ion-radio-group [formControl] = "queryControl.answerControl">

			<ion-item>
				<ion-radio
					slot	= "end"
					[value]	= "true">
				</ion-radio>
				<ion-label [id] = "'basic-query-boolean-true' | toID:'rcc-e2e'">{{ true | translate}}</ion-label>
			</ion-item>

			<ion-item  lines = "none">
				<ion-label [id] = "'basic-query-boolean-false' | toID:'rcc-e2e'">{{ false | translate}}</ion-label>
				<ion-radio
					slot	= "end"
					[value]	= "false">
				</ion-radio>
			</ion-item>

		</ion-radio-group>
	</ion-list>

</div>
