<rcc-full-page (close) ="exit()">

	<h1
	class	= "ion-text-center"
	[id]	= "'SESSIONS.HOME.HEADER' | toID:'rcc-e2e'"
	>{{ 'SESSIONS.HOME.HEADER' | translate }}</h1>
		<ion-list>

			<!-- session -->

			<rcc-item-tag
				*ngIf				= "activeSession"
				[item] 				= "activeSession"
				[extraItemActions]	= "sessionActions"
				[skipGlobalActions] = "true"
				[forceComplexMode]	= "true"
			></rcc-item-tag>

			<ion-item
				*ngIf 		= "!activeSession"
				[button]	= "true"
				(click)		= "this.startNewSession()"
			>
				<ion-icon
					slot	= "start"
					[name]	= "'session' | rccIcon"
					size	= "large"
				></ion-icon>

				<ion-label>
					<h3 [id]	= "'SESSIONS.HOME.NO_ACTIVE_SESSION.LABEL' | toID:'rcc-e2e'">
						{{'SESSIONS.HOME.NO_ACTIVE_SESSION.LABEL' | translate}}
					</h3>
					<p [id]		= "'SESSIONS.HOME.NO_ACTIVE_SESSION.DESCRIPTION' | toID:'rcc-e2e'">
						{{'SESSIONS.HOME.NO_ACTIVE_SESSION.DESCRIPTION' | translate}}</p>
				</ion-label>

			</ion-item>

			<!-- symptom check -->
			<rcc-item-tag
				*ngIf 				= "activeSymptomCheck"
				[item] 				= "activeSymptomCheck"
				[extraItemActions]	= "symptomCheckActions"
				[skipGlobalActions] = "true"
				[forceComplexMode]	= "true"
			>
				<ion-text
					color 	= "secondary"
					*ngIf	= "activeSymptomCheckUpdated | async"
					[id]	= "'SESSIONS.HOME.ACTIVE_SYMPTOM_CHECK_UPDATED' | toID:'rcc-e2e'"

				>
				<p>{{'SESSIONS.HOME.ACTIVE_SYMPTOM_CHECK_UPDATED' | translate}}</p>
				</ion-text>

			</rcc-item-tag>

			<ion-item
				*ngIf 		= "activeSession && !activeSymptomCheck"
				[button]	= "true"
				(click)		= "addNewSymptomCheck()"
			>
				<ion-icon
					slot	= "start"
					[name]	= "'symptom-check' | rccIcon"
					size	= "large"
				></ion-icon>

				<ion-label>
					<h3 [id]	= "'SESSIONS.HOME.NO_ACTIVE_SYMPTOM_CHECK.LABEL' | toID:'rcc-e2e'">
						{{'SESSIONS.HOME.NO_ACTIVE_SYMPTOM_CHECK.LABEL' | translate}}
					</h3>
					<p [id]		= "'SESSIONS.HOME.NO_ACTIVE_SYMPTOM_CHECK.DESCRIPTION' | toID:'rcc-e2e'">
						{{'SESSIONS.HOME.NO_ACTIVE_SYMPTOM_CHECK.DESCRIPTION' | translate}}
					</p>
				</ion-label>

			</ion-item>

			<!-- report -->
			<rcc-item-tag
				*ngIf				= "activeReport"
				[item] 				= "activeReport"
				[extraItemActions]	= "reportExtraActions"
			></rcc-item-tag>


		</ion-list>

	<section>
		<ion-list>
			<rcc-action-button
				*ngFor 				= "let action of activeActions | sortActions"
				[action]			= "action"
			></rcc-action-button>

		</ion-list>
	</section>


</rcc-full-page>
