<ng-container *ngIf = "action">

		<div class="icon">
				<!-- <ion-icon [name] = "action.icon | rccIcon"></ion-icon> -->
		</div>

		<div
			*ngIf 	= "notificationValue"
			class 	= "badge"
		>
			{{ notificationValue === true ? '!' : notificationValue }}
		</div>


		<button
			[id]	= "action.label | toID:'rcc-e2e'"
			(click)	= "execute(action)"
		>
			{{ action.label | translate}}
		</button>

		<div
			*ngIf	= "hasDescription(action)"
			[id]    = "action.description | toID:'rcc-e2e'"
			class	= "description"
		>
			{{ action.description | translate }}

			<ng-container
				*ngIf				= "hasChildComponent(action)"
				[ngComponentOutlet]	= "action.childComponent"
			>
			</ng-container>
		</div>

</ng-container>
