:host {

	display:					flex;
	position:					relative;
	padding:					0;
	flex-direction:				column;
	align-items:				center;
	justify-content:			space-around;
	background: 				var(--background-color);
	box-shadow:					0px 0px 1rem #E8EBEB;
	padding:					0;
	border-width:				0;


}

:host:hover{
	background-color:			var(--background-hover-color);
}

button {
	display:					flex;
	align-self:					stretch;
	justify-content:			center;
	align-items:				center;
	background-color:			var(--foreground-color);
	border-radius:				10rem;
	font-family:				'IBM Plex Mono Semibold';
	font-size:					1rem;
	font-weight:				700;
	padding: 					0 1rem;
	margin:						0 2.5rem;
	height:						3.375rem;
	color:						white;

}
:host:hover button {
	background-color:			var(--foreground-hover-color);

}

.icon {
	height:						3.5rem;
	width:						3.5rem;
	margin:						1rem;
}
.icon ion-icon {
	font-size: 					3.5rem;
}

.description {
	font-family:				'IBM Plex Sans';
	font-size:					0.8rem;
	font-weight:				350;
	line-height:				1rem;
	height:						2rem;
	overflow:					hidden;
	text-overflow:				ellipsis;
	margin:						.5rem;

}
