<div
	*ngIf	= "queryControl && queryControl.question"
	class	= "ion-padding"
>

	<ion-list>
		<ion-radio-group [formControl] = "queryControl.answerControl">
			<ion-item
				*ngFor = "let option of queryControl.question.options; last as $last"
				[lines] = "$last ? 'none' : 'full'"
			>
				<ion-radio
					slot	= "end"
					[value]	= "option.value">
				</ion-radio>
				<ion-label [class] = "'basic-query-select-option' | toID:'rcc-e2e'">{{option | translate}}</ion-label>
			</ion-item>
		</ion-radio-group>
	</ion-list>

</div>
