ion-content::part(scroll) {
	display:			flex;
	flex-direction:		column;
}

rcc-slider {
	flex:				1 0 0;
	width:				100%;
	height:				100%;
}

rcc-slider > rcc-slide {
	height:				100%
}


rcc-query-widget,
.done {
	height:				100%
}

.done {
	display:			flex;
	flex-direction:		column;
	justify-content:	space-between;
}


.spacer {
	flex:				0 1 10rem;
}



