

<rcc-slider #slider snap-stop>


	<rcc-slide
		*ngFor  = "let queryControl of queryControls; index as index"
	>
		<rcc-query-view
			[queryControl] 	= "queryControl"
		>
		</rcc-query-view>

	</rcc-slide>

	<ng-content>
	</ng-content>


</rcc-slider>


<rcc-query-panel
	[slider]			= "slider"
	[queryControl]		= "activeQueryControl"
	(store)				= "slider.next()"
>
</rcc-query-panel>

