<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref = "/">
			</ion-back-button>
		</ion-buttons>
		<ion-title
			[id]	= "'SETTINGS.HEADER' | toID: 'rcc-e2e'"

		>
			{{'SETTINGS.HEADER' | translate}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen] = "true">
	<ion-list>

		<ng-container *ngFor = "let setting of settings">


			<!--SELECT-->

			<ion-item
				id 		= "setting-config-{{setting.config.id}}"
				*ngIf 	= "setting.config.type === 'select'"
			>

				<ion-label >
					<h3
						[id]	= "setting.config.label | toID: 'rcc-e2e'"
					>
						{{setting.config.label | translate}}
					</h3>

					<p
						class   = "ion-text-wrap"
						[id]	= "setting.config.description | toID: 'rcc-e2e'"

					>
						{{setting.config.description | translate}}
					</p>
				</ion-label>

				<ion-select
					interface		= "popover"
					[formControl]	= "setting.formControl"
				>

					<ion-select-option
						*ngFor 	= "let option of setting.config.options"
						[value]	= "option.value"
						[id]	= "option.label | toID: 'rcc-e2e'"
					>
						{{ option.label | translate }}
					</ion-select-option>

				</ion-select>

			</ion-item>



			<!-- BOOLEAN -->

			<ion-item
				*ngIf 		= "setting.config.type === 'boolean'"
				id 			= "setting-config-{{setting.config.id}}"
				[button]	= "true"
				(click)		= "setting.formControl.setValue(!setting.formControl.value)"
			>

				<ion-label>
					<h3
						[id]	= "setting.config.label | toID: 'rcc-e2e'"
					>
						{{setting.config.label | translate}}
					</h3>

					<p
						class	= "ion-text-wrap"
						[id]	= "setting.config.description | toID: 'rcc-e2e'"
					>
						{{setting.config.description | translate}}
					</p>
				</ion-label>


				<ion-toggle
					slot 		= "end"
					[checked]	= "setting.formControl.value"
				></ion-toggle>

			</ion-item>


			<!-- TIME -->

			<ion-item
				*ngIf 		= "setting.config.type === 'time'"
				id			= "setting-config-{{setting.config.id}}"
				[button]	= "true"
			>

				<ion-label >
					<h3
						[id]	= "setting.config.label | toID: 'rcc-e2e'"
					>
						{{setting.config.label | translate}}
					</h3>

					<p
						class = "ion-text-wrap"
						[id]	= "setting.config.description | toID: 'rcc-e2e'"
					>
						{{setting.config.description | translate}}
					</p>
				</ion-label>

				<p
					slot 	= "end"
					class	= "ion-text-end"
					[id]	= "'setting-formControl-value' | toID: 'rcc-e2e'"
				>
					{{setting.formControl.value | translate}}
				</p>

				<ion-modal
					style				= "--height:fit-content; align-items:end"
					trigger				= "setting-config-{{setting.config.id}}"
					[breakpoints]		= "[1]"
				>
	  				<ng-template>

						<ion-datetime
							presentation			= "time"
							[showDefaultButtons]	= "true"
							doneText				= "{{'APPLY'|translate}}"
  							cancelText				= "{{'CANCEL'|translate}}"
							[formControl]			= "setting.formControl"
						>
						</ion-datetime>

					</ng-template>
				</ion-modal>

			</ion-item>


			<!-- STRING -->
				
			<ion-item
				*ngIf 		= "setting.config.type == 'string'"
				id 			= "setting-config-{{setting.config.id}}"
			>

				<ion-label 
					position="stacked"
				>
					{{setting.config.label | translate}}
				</ion-label>

				<ion-input 
					[formControl]="setting.formControl"
				></ion-input>

			</ion-item>


			<!-- HANDLER -->

			<ion-item
				*ngIf		= "setting.config.type === 'handler'"
				[button]	= "true"
				(click)		= "setting.config.handler()"
			>
				<ion-label>
					<h3
						[id]	= "setting.config.label | toID: 'rcc-e2e'"
					>
						{{setting.config.label | translate}}
					</h3>

					<p
						class	= "ion-text-wrap"
						[id]	= "setting.config.description | toID: 'rcc-e2e'"
					>
						{{setting.config.description | translate}}
					</p>
				</ion-label>
			</ion-item>

		</ng-container>

	</ion-list>
</ion-content>
