<ng-template >
	<h3 [id] = "'QUESTIONS.EDIT.OPTIONS.LABEL' | toID:'rcc-e2e'">
        {{ 'REPORT' | translate }} {{report.label ? '– '+report.label : ''}}
    </h3>

	<p
        *ngIf   = "report.date"
        [id]	= "'QUESTIONS.EDIT.OPTIONS.LABEL' | toID:'rcc-e2e'"
    >
		{{'REPORTS.BASIC_LABEL.CREATION_DATE' | translate}}: {{ report.date | translate : {year: 'numeric', month:'2-digit', day: '2-digit', hour: '2-digit', minute:'2-digit'} }}
	</p>

	<p [id]		= "'REPORTS.BASIC_LABEL' | toID:'rcc-e2e'">
		{{'REPORTS.BASIC_LABEL.TIME_SPAN' | translate}} ({{'REPORTS.BASIC_LABEL.DAYS' | translate}}): {{timeSpan}}
		/
		{{'REPORTS.BASIC_LABEL.NUMBER_OF_QUESTIONS' | translate}}: {{numberOfQuestions}}
		/
		{{'REPORTS.BASIC_LABEL.NUMBER_OF_ENTRIES' | translate}}: {{numberOfEntries}}
	</p>

</ng-template>
