<ng-container *ngIf = "mode === 'basic'; else itemTemplate">

	<ion-item-sliding
		[title] = "itemRepresentation?.name | translate"
		[id] = "'itemRepresentation?.name' | toID:'rcc-e2e'"
	>

		<ng-container [ngTemplateOutlet] = "itemTemplate"></ng-container>

		<ion-item-options
			(click)		= "onClick()"
		>
			<ion-item-option
				*ngFor 			= "let action of actions"
				color			= "medium"
				[id]            = "action.label | toID:'rcc-e2e'"
				[title]			= "action.label | translate"
				(click)			= "execute(action)"

			>
				<ion-icon
					[name] 		= "action.icon | rccIcon"
					slot		= "icon-only"
				></ion-icon>

			</ion-item-option>
		</ion-item-options>

	</ion-item-sliding>

</ng-container>


<ng-template
	#itemTemplate
>

	<a
		#download
		href		= ""
		download	= ""
		target		= "_blank"
	></a>

	<ion-item
		(click)		= "onClick()"
		[button] 	= "this.actions.length > 0 ? true : false"
		[color]		= "selected ? 'light' : undefined"
		[detail]	= "mode === 'basic'"
		[id]        = "itemRepresentation?.name | toID:'rcc-e2e'"
		[title] 	= "itemRepresentation?.name | translate"
	>
		<ion-icon
			slot	= "start"
			[name]	= "itemRepresentation?.icon | rccIcon"
			size	= "large"
			[color] = "iconColor"
		></ion-icon>

		<ion-label class = "{{itemRepresentation?.cssClass || ''}}">

			<ng-container
				*ngIf						= "itemLabelTemplate"
				[ngTemplateOutlet] 			= "itemLabelTemplate"
			>
			</ng-container>

			<ng-container
				*ngIf						= "!itemLabelTemplate && itemRepresentation?.labelComponent"
				[ngComponentOutlet] 		= "itemRepresentation?.labelComponent"
				[ngComponentOutletInjector]	= "itemLabelInjector"
			></ng-container>


			<ng-content></ng-content>

		</ion-label>
<!--
		<ion-icon
			*ngIf 	= "mode === 'complex'"
			name 	= "'more' | rccIcon"
			slot	= "end"
		></ion-icon> -->



		<ion-checkbox
			*ngIf 		= "mode == 'select'"
			slot		= "end"
			[checked]	= "selected"
		></ion-checkbox>



	</ion-item>

</ng-template>
