<ion-header>
	<ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button defaultHref = "/"></ion-back-button>
	</ion-buttons>

	<ion-title [id]	= "'LEGAL.TITLE' | toID:'rcc-e2e'">
		{{'LEGAL.TITLE' | translate}}
	</ion-title>

	</ion-toolbar>
</ion-header>


<ion-content
	[fullscreen]	= "true"
	[id]	= "'LEGAL.CONTENT' | toID:'rcc-e2e'"
>
	{{'LEGAL.CONTENT' | translate}}
</ion-content>
