<ion-header >
	<ion-toolbar
		style = "align-items: center !important"
	>
		<rcc-common-header
			slot	= "start"
			[id]	= "metaStore.name + '-menu-button' | toID: 'rcc-e2e'"

		>
		</rcc-common-header>

		<ion-title
			style = "align-self: center !important"
			class  = "ion-text-center"
			[id]	= "metaStore.name | toID: 'rcc-e2e'"
		>
			{{ metaStore.name | translate }}
		</ion-title>


		<ion-buttons
			slot 	= "primary"
		>

			<ion-button
				*ngIf 	= "actions.length > 1"
				(click) = "showActions($event)"
				[id]	= "metaStore.name + '-actions' | toID: 'rcc-e2e'"
			>
				<ion-icon
					[name] 	= "'actions' | rccIcon"
					slot 	= "icon-only"
					[class]	= "metaStore.name + '-action' | toID: 'rcc-e2e'"

				></ion-icon>
			</ion-button>

			<ion-button
				*ngIf 	= "actions.length === 1"
				(click) = "getHandler(actions[0])()"
			>
				<ion-icon
					[name] 	= "actions[0].icon | rccIcon"
					slot 	= "icon-only"
				></ion-icon>
			</ion-button>

		</ion-buttons>
	</ion-toolbar>

	<ion-toolbar *ngIf = "filterControl && showSearch"
	>
		<ion-searchbar

			*ngIf 				= "filterControl && showSearch"
			[formControl] 		= "filterControl"
			[id]				= "metaStore.name + '-searchbar' | toID: 'rcc-e2e'"
		>

		</ion-searchbar>

		<ion-buttons slot = "primary">

			<ion-button
				*ngIf 				= "filterControl && showSearch"
				(click)				= "toggleFilter()"
				>
					<ion-icon
						[name] 	= "'close' | rccIcon"
						slot 	= "icon-only"
						[class]	= "metaStore.name + '-action' | toID: 'rcc-e2e'"
					></ion-icon>
			</ion-button>

		</ion-buttons>
	</ion-toolbar>

</ion-header>
