<ion-list *ngIf = "queryControl && queryControl.question" [inset] = "true" lines = "none">



	<ion-item lines = "full" *ngIf = "queryControl.question.type !== 'boolean'">
		<ion-input
			[type]      	= "queryControl.question.type === 'string' ? 'text' : 'number'"
			[inputmode]    	= "{decimal: 'decimal', integer: 'numeric'}[queryControl.question.type]"
			[min]			= "queryControl.question.min"
			[max]			= "queryControl.question.max"
			[formControl] 	= "queryControl.answerControl"
			[placeholder]	= "'QUERIES.VIEW.PLACEHOLDER' | translate"
			[debounce] 		= "300"
		></ion-input>
	</ion-item>



	<ion-radio-group
		*ngIf 			= "queryControl.question.type === 'boolean'"
		[formControl] 	= "queryControl.answerControl"
	>

		<ion-item *ngFor = "let option of queryControl.question.options || [{value:true}, {value:false}]">
			<ion-label [id]		= "'option' | toID:'rcc-e2e'">{{ option | translate}}</ion-label>
			<ion-radio [value]	= "option.value" slot = "end"></ion-radio>
		</ion-item>

	</ion-radio-group>


	<ion-item>
		<ion-note>
			<span *ngFor ="let option of queryControl.question.options; last as isLast">
				{{option.value}} {{isLast ? '' : ','}}
			</span>
			<span *ngIf = "isNumber(queryControl.question.min)">
				min: {{queryControl.question.min}}
			</span>
			<span *ngIf = "isNumber(queryControl.question.max)">
				max: {{queryControl.question.max}}
			</span>
			&nbsp;
		</ion-note>
	</ion-item>


	<ion-item>
		<ion-note
			color 	= "danger"
		>
			<span
				*ngIf	= "queryControl.answerControl.dirty && error; else empty"
				[id]	= "'QUERIES.FALLBACK.VALIDATION_ERRORS.%s' | fill : error | toID:'rcc-e2e'"
			>
				{{ 'QUERIES.FALLBACK.VALIDATION_ERRORS.%s' | fill : error | translate}}
			</span>

			<ng-template #empty>&nbsp;</ng-template>

		</ion-note>
	</ion-item>



</ion-list>
