<ion-grid *ngFor = "let dateStr of allDateStrings">
	<ion-row>
		<ion-col [id]	= "'fallback'+ dateStr | toID:'rcc-e2e'">
			{{ dateStr | translate }}
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col *ngFor = "let dataset of combinedData[dateStr]; index as index" [size] = "12/combinedData[dateStr].length">
			<div  *ngFor = "let datapoint of dataset.datapoints">
				<ion-text
					[color]	= "index === 0 ? 'primary' : 'secondary'"
					[id]	= "'fallback-data' | toID:'rcc-e2e'"
				>
					{{ datapoint.value | asAnswerTo: dataset.question | async | translate }}
				</ion-text>
			</div>
		</ion-col>
		<ion-col>

		</ion-col>
	</ion-row>

</ion-grid>
