<ion-content [fullscreen] = "true" class = "ion-padding">

	<h1
		class = "ion-text-center"
		[id] = "'EXPORT.MODAL.HEADING' | toID:'rcc-e2e'"
	>
		{{'EXPORT.MODAL.HEADING' | translate}}
	</h1>

	<div
		class	=	"ion-text-center"
		*ngIf	=	"exports.length === 0"
		[id] = "'EXPORT.MISSING_APPLICABLE_EXPORTERS' | toID:'rcc-e2e'"
	>
		{{'EXPORT.MISSING_APPLICABLE_EXPORTERS' | translate}}
	</div>

	<ion-list>

		<ion-item *ngIf = "label || description">

			<ion-label>
				<h3
					[id] = "label | toID:'rcc-e2e'"
				>
					{{label | translate}}
				</h3>

				<p
					class ="ion-text-wrap"
					[id] = "description | toID:'rcc-e2e'"
				> {{description | translate}}
				</p>

			</ion-label>

		</ion-item>

		<rcc-item-tag
			*ngIf 			= "!label && !description"
			[item]			= "data"
			[extraItemActions] 	= "[]"
		>
		</rcc-item-tag>

	</ion-list>

	<hr>

	<ion-list>

		<ion-item
			*ngFor		=	"let exportData of exports"
			[button]	= 	"true"
			(click)		=	"dismiss(exportData)"
			[download]	=	"download && exportData.filename "
			[href]		=	"download && exportData.dataUrl"
		>

			<ion-label >
				<h3 [id] = "exportData.label | toID:'rcc-e2e'">{{exportData.label | translate}}</h3>

				<p
					class ="ion-text-wrap"
					[id] = "exportData.description | toID:'rcc-e2e'"
				>
					{{ exportData.description | translate}}
				</p>
			</ion-label>

		</ion-item>

	</ion-list>

	<div class = "ion-text-center">

		<ion-button
			color 	= "secondary"
			(click)	= "cancel()"
			fill	= "solid"
			[id] = "'EXPORT.MODAL.CANCEL' | toID:'rcc-e2e'"
		>
			{{'EXPORT.MODAL.CANCEL' | translate}}
		</ion-button>

	</div>

</ion-content>
